.Container {

    width: 100%;
    height: auto;
    max-width: 500px;
    min-height: 250px;
    background-color: cadetblue;
    background-image: radial-gradient(grey 7.2%,transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px;
    padding: 1run;
    

}

.Heading{
    text-align: center;
}